<article class="recipe col-md-6 text-center">
  <%= link_to recipe do %>
    <h3><%= recipe.name %></h3>
  <% end %>
  <p>Cozinha: <%= recipe.cuisine.name %></p>
  <p>Tipo de comida: <%= recipe.dish.name %></p>
  <p>Tempo de preparo: <%= recipe.time %></p>
</article>
